@media (max-width: 1024px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
    }
    body > div {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    body > div > header {
        display: flex;
        flex-direction: column;
        background-color: rgb(39, 37, 37);
        width: 30%;
        padding: 20px 20px;
    }
    header > nav {
        display: flex;
        flex-direction: column;
    }
    body > div > main {
        flex-grow: 1;
    }
    .navbar .logo > div {
        width: 15px;
        height: 15px;
        background-color: yellow;
        border-radius: 50%;
    }
    .navbar .logo {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        color: white;
        align-items: center;
        gap: 4px;
    }
    .navbar .menu {
        margin-bottom: 30px;
    }
    .navbar .menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 0;
    }
    .navbar .menu li {
        list-style: none;
    }
    .navbar .menu li>a {
        text-decoration: none;
        color: white;
    }
    .navbar .button a {
        text-decoration: none;
        color: white;
        background-color: orange;
        padding: 10px 20px;
        border-radius: 5px;
    }


    /* Banner */
    main {
        padding-top: 20px;
    }
    main > header {
        margin-bottom: 100px;
    }
    .banner {
        display: flex;
        gap: 20px;
    }
    .banner > .left-banner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner > .left-banner span {
        color: orange;
    }
    .banner > .left-banner a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: orange;
        border-radius: 5px;
        flex-grow: 0;
    }
    .banner > .right-banner a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    /* services */
    .services * {
        margin: 0;
    }
    .services {
        margin-bottom: 100px;
    }
    .services > .items-service {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .services > .title-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services > .title-services {
        margin-bottom: 50px;
    }
    .services > .items-service > .item-service {
        display: flex;
        /* position: relative; */
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: 10px;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.404);
        border-radius: 5px;
        padding: 0 5px 5px 5px;
    }
    .services > .items-service > .item-service > img {
        align-self: flex-start;
        left: 0;
    }
    .services > .items-service > .item-service > p {
        text-align: center;
    }
    .services > .items-service > .item-service > a {
        text-decoration: none;
    }
    .solutions {
        display: flex;
        gap: 25px;
        margin-bottom: 100px;
        padding: 20px 30px;
        background-color: rgb(255, 223, 223);
    }
    .solutions * {
        margin: 0;
    }
    h2 > span{
        color: orangered;
    }
    .solutions .items-solutions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 25px;
    }
    .items-solutions > .item-solutions {
        display: flex;
        gap: 15px;
    }
    .items-solutions > .item-solutions > div:first-child > p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: orange;
    }
    .solutions .title-solutions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

    }
    .solutions .btn-solutions {
        display: flex;
        gap: 20px;
    }
    .solutions .btn-solutions > a {
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        min-width: 102.42px;
    }
    .solutions .btn-solutions > a:first-child {
        background-color: orange;
        color: white;
    }
    .solutions .btn-solutions > a:last-child{
        border: 1px solid;
        border-color: orange;
        color: orange;
    }
    .about-us {
        display: flex;
    }

    .cta {
        background-color: orange;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        min-width: 102.42px;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .testimonial > .title-testimonial {
        text-align: center;
    }

    .testimonial > .testimoni-cards {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .testimonial > .testimoni-cards > .testimoni-item {
        padding: 10px;
        box-shadow: 1px 8px 14px -6px rgba(0,0,0,0.75);;
        min-width: 100px;
        
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: orangered;
    }
}

@media (max-width: 768px) {
    * {
        width: 100%;
    }
    body {
        margin: 0 10px 0 10px;
    }
    body > div {
        flex-direction: column ;
    }
    body > div > header {
        flex-direction: row;
        width: 100%;
    }
    header > nav {
        flex-direction: row;
    }
    .navbar .menu ul {
        flex-direction: row;
    }
}