@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    body > header {
        background-color: rgb(39, 37, 37);
        width: 30%;
        padding: 20px 20px;
    }
    body > main {
        flex-grow: 1;
    }
    .navbar .logo > div {
        width: 15px;
        height: 15px;
        background-color: yellow;
        border-radius: 50%;
    }
    .navbar .logo {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        color: white;
        align-items: center;
        gap: 4px;
    }
    .navbar .menu {
        margin-bottom: 30px;
    }
    .navbar .menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 0;
    }
    .navbar .menu li {
        list-style: none;
    }
    .navbar .menu li>a {
        text-decoration: none;
        color: white;
    }
    .navbar .button a {
        text-decoration: none;
        color: white;
        background-color: orange;
        padding: 10px 20px;
        border-radius: 5px;
    }


    /* Banner */
    main {
        padding-top: 20px;
    }
    main > header {
        margin-bottom: 100px;
    }
    .banner {
        display: flex;
        gap: 20px;
    }
    .banner > .left-banner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner > .left-banner span {
        color: orange;
    }
    .banner > .left-banner a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: orange;
        border-radius: 5px;
        flex-grow: 0;
    }
    .banner > .right-banner a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    /* services */
    .services * {
        margin: 0;
    }
    .services {
        margin-bottom: 100px;
    }
    .services > .items-service {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .services > .title-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services > .title-services {
        margin-bottom: 50px;
    }
    .services > .items-service > .item-service {
        display: flex;
        /* position: relative; */
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: 10px;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.404);
        border-radius: 5px;
        padding: 0 5px 5px 5px;
    }
    .services > .items-service > .item-service > img {
        align-self: flex-start;
        left: 0;
    }
    .services > .items-service > .item-service > p {
        text-align: center;
    }
    .services > .items-service > .item-service > a {
        text-decoration: none;
    }
}