@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    body > header {
        background-color: rgb(39, 37, 37);
        width: 30%;
        padding: 20px 20px;
    }
    body > main {
        flex-grow: 1;
    }
    .navbar .logo>div {
        width: 15px;
        height: 15px;
        background-color: yellow;
        border-radius: 50%;
    }
    .navbar .logo {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        color: white;
        align-items: center;
        gap: 4px;
    }
    .navbar .menu {
        margin-bottom: 30px;
    }
    .navbar .menu ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 0;
    }
    .navbar .menu li {
        list-style: none;
    }
    .navbar .menu li>a {
        text-decoration: none;
        color: white;
    }
    .navbar .button a {
        text-decoration: none;
        color: white;
        background-color: orange;
        padding: 10px 20px;
        border-radius: 5px;
    }


}